@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}

header .logo{
    width: 140px;
    height: 38px;
    align-content: center;
    cursor: pointer;
}

header .logo img{
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 38px;
    list-style: none;
}

header nav a{
    text-decoration: none;
    font-size: 16px;
    color: rgba(77, 77, 77, 1);   
    gap: 16px;
    transition: all 0.4s ease-in-out;
}

header nav ul li a:hover{
    text-decoration: underline;
    color: rgb(0, 102, 204);
}

.registerbtn{
    border: none;
    outline: none;
    background-color: rgba(76, 175, 79, 1);
    color: white;
    gap: 4px;
    border-radius: 4px;
    padding: 10px 26px;
    cursor: pointer;
   background-color: rgba(76, 175, 79, 1);
    transition: all 0.4s ease-in-out;
}

.registerbtn:hover{
    background-color: white;  
    color: rgba(76, 175, 79, 1);
    border: 2px solid rgba(76, 175, 79, 1);

}

.section1{
background-color: rgba(245, 247, 250, 1);
height: 380px;
padding: 112px 100px;
}

.section1 .section1content .textcontent{
    width: 550px;
    height: 225px;
}

.section1 .section1content .textcontent h1{
    color: rgba(77, 77, 77, 1);
    font-size: 54px;
    font-weight:600;
    
}
.section1 .section1content .textcontent h1 span{
    color: rgba(76, 175, 79, 1);
}

.section1 .section1content .textcontent p{
    color: rgba(113, 113, 113, 1);
    font-size: 14px;
    font-weight: 400;
    height: 18px;
    margin-top: 18px;
}

.section1 .section1content{
display: flex;
justify-content: space-between;
align-items: center;
}

.section1 .section1content .imgcontent{
    padding: 40px 60px;
    cursor: pointer;
}

.section1 .section1content .textcontent .registerbtn{
  margin-top: 24px;
}

.section1 .dots{
    text-align: center;
    margin-top: 80px;
    cursor: pointer;
}

.section2 .section2text{
    text-align: center;
    color: rgba(77, 77, 77, 1);
    line-height: 30px;
    margin: 0px 114px 40px 114px;
}

.section2 .section2text h2{
    color: rgba(77, 77, 77, 1);
    font-size: 25px;
    font-weight: 600px;
}

.section2 .section2text p{
    color: rgba(113, 113, 113, 1);
    font-size: 14px;
    font-weight: 400px;
}

.section2 .section2logos{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 0px 100px 0px 100px;
    cursor: pointer;
}

.section3 .section3text{
    text-align: center;
    margin: 0px 312px 22px 312px;
}

.section3 .section3cards{
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
}

.section3 .section3text h2{
    color: rgba(77, 77, 77, 1);
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
}

.section3 .section3text p{
    color: rgba(113, 113, 113, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.section3 .section3cards .membership{
    width: 200px;
    height: 152px;
    text-align: center;
    padding: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.section3 .section3cards .membership img{
    cursor: pointer;
}

.section3 .section3cards .membership h3{
    color: rgba(77, 77, 77, 1);
    font-weight: 700px;
    font-size: 20px;
    line-height: 25px;
    padding-top: 15px;
}

.section3 .section3cards .membership p{
    color: rgba(113, 113, 113, 1);
    font-weight: 400px;
    font-size: 9px;
    line-height: 13px;
    padding-top: 12px;
    margin-left: 20px;
    padding-right:20px ;
}

.section4{
    display: flex;
    justify-content: space-between;
    margin: 56px 100px;
    height: 305px;
}

.section4 .img4{
    width: 308px;
    height: 229px;
    margin-top: 36px;
    cursor: pointer;
}


.section4 .section4text{
width: 460px;
height: 190px;
margin-top: 60px;

}

.section4 .section4text h2{
    color: rgba(77, 77, 77, 1);
    font-weight: 600px;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
}

.section4 .section4text p{
    color: rgba(113, 113, 113, 1);
    font-weight: 400px;
    font-size: 9px;
    line-height: 14px;
    margin-right: 60px;
    margin-bottom: 18px ;
}

.section5{
    display: flex;
    justify-content: space-between;
    height: 203px;
    background-color: rgba(245, 247, 250, 1);
}

.section5 .section5text{
    width: 376px;
    height: 85px;
    margin-top: 60px;
    margin-left: 100px;
    
}

.section5 .section5text h2{
    color: rgba(77, 77, 77, 1);
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    width: 295px;
    height: 62px;   
}

.section5 .section5text h2 span{
    color: rgba(76, 175, 79, 1);
    line-height: 40px;
}

.section5 .section5text p{
    color: rgba(24, 25, 31, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    width: 100%;
    height: 17px;
    margin-top: 5px;
}

.section5 .section5count{
    margin-top: 45px;
    margin-right: 100px;    
}

.section5 .section5count .count{
    width: 178px;
    height: 43px;
    display: flex;
    padding: 5px;
}
.section5 .section5count .count img{
    cursor: pointer;
}

.section5 .section5count .count div{
    width: 133px;
    height: 43px;
    margin: 5px 0px 5px 10px;
}

.section5 .section5count .count h3{
    color: rgba(77, 77, 77, 1);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.section5 .section5count .count p{
color: rgba(113, 113, 113, 1);
font-weight: 400;
font-size: 12px;
line-height: 16px;
}

.section5 .section5count .count img{
    width: 33px;
    height: 33px;
    margin: 5px 0px 5px 0px;
}

.section6{
    display: flex;
    justify-content: space-between;
    margin: 56px 100px;
    height: 305px;
}

.section6 .img6{
    width: 308px;
    height: 305px;
    cursor: pointer;
}

.section6 .section6text{
width: 460px;
height: 215px;
margin-top: 80px;

}

.section6 .section6text h2{
    color: rgba(77, 77, 77, 1);
    font-weight: 600px;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
}

.section6 .section6text p{
    color: rgba(113, 113, 113, 1);
    font-weight: 400px;
    font-size: 9px;
    line-height: 14px;
    margin-right: 60px;
    margin-bottom: 18px ;
}

.section5 .section5count .counts{
    width: 375px;
    height: 52px;
    display: flex;
}

.section7{
    background-color: rgba(245, 247, 250, 1);
    height: 272px;
    display: flex;
    justify-content: space-between;
    padding: 23px 100px;
}

.section7 .img7{
    width: 227px;
    height: 227px;
    border-radius: 6px;
    box-shadow: rgba(171, 190, 209, 0.4);
    cursor: pointer;
    margin-top: 10px;
}

.section7 .section7text{
    width: 650px;
    height: 227px;
    margin-top: 10px;

}

.section7 .section7text p{
font-weight: 500;
font-size: 12px;
line-height: 17px;
color: rgba(113, 113, 113, 1);
}

.section7 .section7text h4{
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    color: rgba(76, 175, 79, 1);
    margin-top: 30px;
}

.section7 .section7text .british{
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: rgba(137, 147, 158, 1);
}

.section7 .section7text .section7logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

.section7 .section7text .section7logos h3{
    color: rgba(76, 175, 79, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.section8{
    height: 450px;
    margin-top: 20px;
}

.section8 .section8text {
    width: 771px;
    height: 88px;
    text-align: center;
    margin: 50px 20%;
}

.section8 .section8text h2{
    color: rgba(77, 77, 77, 1);
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

}

.section8 .section8text p{
    color: rgba(113, 113, 113, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    margin: 0px 150px;
}

.section8 .cards{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.section8 .card{
    width: 256px;
    height: 256px;    
}

.section8 .card .img{
    width: 256px;
    height: 200px;
    border-radius: 6px;
}

.section8 .card .textcontent{
width: 218px;
height: 124px;
border-radius: 6px;
padding: 12px;
background-color: rgba(245, 247, 250, 1);
text-align: center;
position: relative;
top: -82px;
left: 7px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.section8 .card .textcontent p{
width: 198px;
height: 59px;
font-weight: 600;
font-size: 14px;
line-height: 20px;
color: rgba(113, 113, 113, 1);
margin-top: 7px;
text-align: center;
}

.section8 .card .textcontent .btn{
width: 110px;
height: 20px;
font-weight: 600;
font-size: 14px;
line-height: 20px;
background-color: rgba(245, 247, 250, 1);
color: rgba(76, 175, 79, 1);
border: none;
outline: none;
cursor: pointer;
margin-top: 25px;
padding: 10px;
text-align: center;
}

/* =======================>>> Section 09 <<======================= */

.section9{
    height: 210px;
    padding: 23px 0px;
    background-color: rgba(245, 247, 250, 1);
    text-align: center;
}

.section9 h1{
    margin: 23px 193px 30px 193px;
    color: rgba(38, 50, 56, 1);
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}

/* =======================>>>footer<<======================= */

footer{
    height: 230px;
    padding: 45px 115px;
    gap: 87px;
    background-color: rgba(38, 50, 56, 1);
    color: rgba(245, 247, 250, 1);
    display: flex;
    justify-content: space-between;
}

footer .links{
width: 252px;
height: 150px;
gap: 28px;
}

footer .links img:hover{
    cursor: pointer;
}

footer .links p{
width: 244px;
height: 14px;
font-weight: 400;
font-size: 12px;
line-height: 14px;
margin-top: 36px;
}

footer .links .sociallinks{ 
    display: flex;
    justify-content: space-between;
    width: 123px;
    height: 23px;
    margin-top: 50px;
}

footer .links .sociallinks div:hover{
color: cornflowerblue;
cursor: pointer;
}

footer .information{
    display: flex;
    width: 450px;
    height: 150px;
    gap: 20px;
}

footer .information .company{
    width: 112px;
    height: 150px;
}

footer .information .company h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}

footer .information .company ul li {
    list-style: none;
    margin-top: 5px;
    
}

footer .information .company ul li a{
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    color: rgba(245, 247, 250, 1);
}

footer .information .company ul li a:hover{
    text-decoration: underline;
    color: #4FC3F7;
}

footer .information .stay{
    width: 180px;
    height: 65px;
    gap: 17px;
}

footer .information .stay h3{ 
    width: 112px;
    height: 20px;
    font-weight: 600;   
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1); 
 } 

footer .information .stay .inputsection {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 180px;
  height: 28px;
  margin-top: 14px;
  padding: 0 8px;                  
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

footer .information .stay .inputsection input {
  background: transparent;     
  border: none;
  outline: none;
  height: 100%;
  line-height: 28px;           
  font-weight: 400;
  font-size: 10px;
  padding: 0;                  
  margin: 0;
  color: rgba(217, 219, 225, 1); 
  width: calc(100% - 28px);    
  box-shadow: none;
}

footer .information .stay .inputsection input::placeholder {
  color: rgba(217, 219, 225, 1);
  opacity: 1;
}

footer .information .stay .inputsection i {
  color: rgba(217, 219, 225, 1);
  font-size: 14px;
  width: 20px;
  text-align: center;
}

footer .information .stay .inputsection i:hover {
    cursor: pointer;
    color: cadetblue;
}

footer .information .stay .inputsection input:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 900px){
    header{ padding: 15px 20px; }
    .section1, .section2, .section4, .section6, .section8 { padding: 40px 20px; }
    header nav ul.main-nav{ gap: 12px; flex-wrap: wrap; }
    .section1 .section1content{ flex-direction: column; gap: 12px; align-items: flex-start; }
}